
@import url('https://fonts.googleapis.com/css2? family= Montserrat:wght@300;400;500 & display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: 0px;
}
:root{
    --first-color:purple;
    --second-color: #7562e010;
}

body{
    font-family : 'Montserrat', sans-serif ;
    padding: 1rem 150px 0px 150px;
}

html{
    scroll-behavior: smooth;
}

.header{
    border: 1px solid red;
}

.header-title{
    color: var(--first-color);
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a{
    text-decoration: none;
    color: black;
}

.nav--link{
    margin-left: 0,5rem;
}

.brand{
    display: flex;
    border: 1px solid red;
    padding-left: 0.5rem;
    margin-top: 1rem;
}

.brand-left{
    border: 1px solid red;
    width: 60%;
}

.brand-right{
    border: 1px solid red;
    width: 40%;
}

.img-container{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 0.8rem solid var(--first-color);
}

.img-container img{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    object-fit: cover;
    border:0.8rem solid white;
}

.brand-left-header{
    font-size: 1rem;
}

.btn{
    margin-top: 2rem;
    width: 25%;
    font-size: 1rem;
    background: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    padding: 1.5rem;
    box-shadow: 0.3em 0.3em var(--first-color),inset 0.3em 0.3em var(--first-color);
}

.btn:hover{
    box-shadow: 0em 0em var(--first-color),inset 0em 0em var(--first-color);
}

.description{
    margin-top: 0.5rem;
}

.partners{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--second-color); 
}

.partners img{
    width: 22%;
    margin-left: 0.5rem;
}

.skills{
    margin-top: 1rem;
    display: flex;
    border: 1px solid red;
}

.skills-left{
    width: 20%;
    border: 1px solid red;
    background-color: var(--second-color); 
}

.experience{
    color: var(--first-color);
    font-size: 100px;
}

.skills-left p{
    font-size: 25px;
}

.skills-right{
    width: 80%;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    padding-bottom: 0.5rem;
    background-color: var(--second-color); 
}

.skills_title{
    color: var(--first-color);
}

.cards{
    border: 1px solid red;
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;


}

.card{
    cursor: pointer;
    height: 200px;
    width: 300px;
    border: 1px solid red;
    margin-left: 0.3rem;
    border-radius: 1rem;
    box-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 18%);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 1rem;
    padding-bottom: 2rem;
    transition: all 0.3s ease-in-out;
}

.card i{
    color: var(--first-color);
    font-size: 2rem;
    margin-bottom: 1rem;
    transition: all 0.3s ease-in-out;
}

.card h3{
    color: var(--first-color);
    margin-bottom: 1rem;
}

.card p{
    color: white;
}

.card:hover{
   
    background-color: var(--first-color);
    color: white;
}

.card:hover i{
    transform: rotateZ(360deg);
    color: white;
}

.card:hover h3{
    color: white;
    margin-bottom: 1rem;
}

.lorem{
    border: 2px solid blue;
    display: flex;
    justify-content: space-between;
}

.lorem-left{
    color: var(--first-color);
    display: flex;
    width: 50%;
    border: 1px solid red;
    
}

.lorem-right{
    border: 1px solid red;
    width: 50%;
}

.lorem-right a,i{
    color: var(--first-color)
}

.lorem-right{
    font-size: 17px;
}


.work-cards{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.6s cubic-bezier(0.5, 0, 0, 1) 0s;
    
}

.work-card{
    height: 300px;
    width: 31%;
    overflow: hidden;
    margin-bottom: 20px;
    box-shadow: 0px 0px 23px -5px rgb(0 0 0 / 18%);
    border-radius: 2px;
    margin-right: 10px;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.6s cubic-bezier(0.5, 0, 0, 1) 0s;
}

.work-card img {
    width: 100%;
    object-fit: cover;
    position: relative;
    transition: all ease-in-out 3s;
    top: 0;
}

.hackaton{
    border: 4px solid pink;
    height: 400px;
    display: flex;
    
}

.winner{
    border: 2px solid blue;
    height: 100%;
    width: 50%;
    border-radius: 10px;
}
.winner-img{
    object-fit: cover;
    overflow: hidden;
    height: 400px;
    width: 100%;  
}

.text{
    border: 2px solid red;
    height: 400px;
    width: 50%;
    padding-left: 1rem;
}

.text_title p{
    color: var(--first-color);
    font-size: 40px;
}

.playstore{
    border: 2px solid orangered;
    margin-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.playstore img{
    object-fit: cover;
    height: 70px;  
}

.texts {
    color: rgba(46, 43, 43, 0.705);
    font-size: 15px;
    margin-top: 1rem;
}

.texts i{
    color:rgba(46, 43, 43, 0.705) ;
}

.declaration{
    border: 5px solid red;
    padding: 2rem;
    background-color: var(--second-color);
}

.declaration .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container{
    border: 3px solid blue;
    padding: 3rem;
}

.box{
    height: 280px;
    width: 32%;
    border: 1px solid green;
    background-color: white;
    border-radius: 10px;
}

.box :hover{
    transform: scale(1.02);
    cursor: pointer;
    
}

.box .illustration i{
    color: #7562e0;
    transition: all .3s ease-in-out;
}

.box i :hover{
    color:var(--violet);
}


.container .box i{
    color: var(--second-color);
    position: relative;
    bottom: 20px;
    right: -190px;
    font-size: 60px;
}


.box img{
    object-fit: cover;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 4px solid var(--first-color);
}


.box p{
    padding: 2rem;
    color: var(--first-color);
    font-size: 15px;
}

.box span{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(124, 121, 121, 0.795);
    font-size: 15px;
}

